

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <app-dashboard></app-dashboard>

<app-external></app-external>
 <app-cabalhao></app-cabalhao> -->
<!-- <app-child></app-child> -->
<!-- <app-parent></app-parent> -->
<!-- <app-datadriven></app-datadriven> -->
<!-- <app-template></app-template> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-cabalhao></app-cabalhao>  -->
<app-registration></app-registration>
